html{
  height: 100vh;
  width: 100vw;
}
body{
  background: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#gameName{
  color: rgb(255,255,255);
  font-family: Monospace;
  text-align: center;
  font-size: 70px;
  margin-bottom: 80px;
  text-decoration: underline rgb(0,100,255);
  font-style: italic;
  transition: 0.5s ease;
}
#player,#enemy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 80%;
  background: rgb(20,20,20);
  border-radius: 10px;
}
#enemy{
  margin-bottom: 2px;
}
.character{
  font-size: 80px;
  text-shadow: 0 0 25px rgb(0,100,255);
  position:  relative;
  left: 200;
}
#opponent{
  text-shadow: 0 0 25px rgb(255,100,0);
}
.health{
  width: 80%;
  height: 30%;
  border-radius: 10%;
}
#btns{
  height: 5vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 15px;
}
#btns button{
  height: 5vh;
  width: 35vw;
  border-radius: 5%;
  font-size: 50px;
  font-family: monospace;
  color: rgb(255,255,255);
  margin: 10px;
  cursor: pointer;
  border: none;
  transition: 0.5s ease;
}
#attackBtn{
  background: rgb(255,100,0);
}
#healBtn{
  background: rgb(50,255,50);
}
#msgBox{
  height: 30vh;
  width: 90vw;
  color: rgb(255,255,255);
  font-size: 60px;
  text-align: center;
  font-family: Monospace;
  background: rgb(50,50,50);
  border-radius: 5%;
  box-shadow: 0 0 30px rgb(220,220,220);
}
#gameName:hover{
  transform: scale(1.04);
}
#btns button:hover{
  transform: scale(1.05);
}
#attackBtn:hover{
  box-shadow: 0 0 25px rgb(255,90,0);
}
#healBtn:hover{
  box-shadow: 0 0 25px rgb(40,255,40);
}